<mat-card>
<mat-card-actions>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Recent Results">
  </mat-form-field>
  <span  class="fill-space"></span>
  <button mat-icon-button matTooltip="Settings" [matMenuTriggerFor]="menu">
    <mat-icon color="primary" svgIcon="settings">Settings</mat-icon>
    </button>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item (click)="sendFeeDueSMS()">Send Fee Due SMS</button> -->
  </mat-menu>
</mat-card-actions>
<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="code" sticky>
      <mat-header-cell class="fixed-column" *matHeaderCellDef mat-sort-header>Adimission #</mat-header-cell>
      <mat-cell class="fixed-column" *matCellDef="let row"> {{row.code}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fName" sticky>
      <mat-header-cell class="fixed-column" *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell class="fixed-column" *matCellDef="let row"> {{row.fName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lName" sticky>
      <mat-header-cell class="fixed-column" *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell class="fixed-column" *matCellDef="let row"> {{row.lName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="class" sticky>
      <mat-header-cell class="fixed-column" *matHeaderCellDef mat-sort-header>Class</mat-header-cell>
      <mat-cell class="fixed-column" *matCellDef="let row"> {{row.CLASS_CODE.className}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="{{disCol.label}}" *ngFor="let disCol of months; let i = index;">
      <mat-header-cell *matHeaderCellDef>{{disCol.label | replace:'_':'-'}}</mat-header-cell>
      <mat-cell [ngClass]="{'fee-paid': row.months[disCol.label].status=='Paid', 
                'fee-due': row.months[disCol.label].status=='Due', 
                'fee-partial-paid': row.months[disCol.label].status=='Partial Paid', 
              'current-month': currentMonth == disCol.label}" (dblclick)="updateFeeDetails($event, row._id, disCol.label, row.months[disCol.label].amount, row.months[disCol.label].status )" *matCellDef="let row">
        <div>
          <div>Amt.: {{row.months[disCol.label].amount}}</div>
          <div>Status: {{row.months[disCol.label].status}}</div>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</mat-card>