.dialog-content{
    display: block;
    width: 100%;
}
.dialog-content .mat-form-field {
    width: 100% !important;
    display: block;
}
.full-width{
    width: 100% !important;
    display: flex;
}
.spacer{
    width: 10px;
}